	

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/social-barr/icomoon.eot?f9i2x1');
	src:url('../fonts/social-barr/icomoon.eot?#iefixf9i2x1') format('embedded-opentype'),
	url('../fonts/social-barr/icomoon.woff?f9i2x1') format('woff'),
	url('../fonts/social-barr/icomoon.ttf?f9i2x1') format('truetype'),
	url('../fonts/social-barr/icomoon.svg?f9i2x1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube3:before {
	content: "\ea99";
}


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
.social ul {
	list-style: none;
}
 
.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
 
.social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-google-plus {background: #d95232;}

 
.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
	
	
@media(max-width: 870px){
  .social{
	 display: none;  /* CON ESTO DESAPARECE */
  }

}	
	
